<head>
    <title>18BIT0486</title>
</head>
<h1>This is my secret page!</h1>
<p>You found me</p>
<img src="https://images.unsplash.com/photo-1571366343168-631c5bcca7a4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1051&q=80" width="400" height="500">


<%if(!currentUser){%>
    <li><a href="/register">Sign Up</a></li>
    <li><a href="/login">Login</a></li>
    <%} else{%>
    <li><a href="/logout">Log out</a></li>
    <%}%>